{% extends "base.html" %}

{% block title %}
    发布新的板块
{% endblock %}

{% block content %}
this is node_new.html
    <form action="{{ url_for('.add') }}" method="post">
        <div class="cell">输入板块名：<br>
        <input type="text" name="name" placeholder="输入 title">
        </div>
        <div>
            <p>请输入对板块的描述：</p>
            <textarea cols="60" rows="10" type="text" name="description" placeholder="输入 description"></textarea>
        </div>

        <button class="pure-button pure-button-primary sub">Add</button>
    </form>
{% endblock %}



