<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/weibo.js"></script>
    <title>阿荷和她的朋友们</title>
</head>
<body>
    <div class="head">
      <div class="left title">阿荷的朋友圈</div>

      <div class="right">
        <!--<span><a href="/blog">三千院的博客</a></span>-->
        <!--<span><a href="/weibo">微博</a></span>-->
        <!--<span><a href="/profile">个人资料</a></span>-->
         <span><a class="gua-nav-link" href="/node/show">首页</a></span>
         <span><a class="gua-nav-link gua-active" href="/user/profile">个人主页</a></span>
         <span><a class="gua-nav-link" href="/user">注册</a></span>
         <span><a class="gua-nav-link" href="/user">登录</a></span>
         <span><a class="gua-nav-link" href="/blog">博客</a></span>
         <span><a class="gua-nav-link" href="/weibo">微博</a></span>
      </div>
    </div>
  <div class="background">
    <div class="height-20"></div>
    <div class="content clearfix">

      <div class="box add-box">
        <!-- <form action="/add" method="post" class="out"> -->
            <input id="id-input-weibo" name="weibo" class="wei" placeholder="Weibo"> </input>
            <br>
            <button id="id-button-weibo-add" class="pure-button pure-button-primary sub"
             type="submit">水一发！</button>
        <!-- </form> -->
      </div>
      <div class="height-20"></div>

      <div class="box weibo-container">
        {% for t in weibos %}
          <div class="weibo-cell cell item">
            <span class="newWeibo">{{ t.weibo }}</span>
            <span class="right span-margin">{{ t.created_time }}</span>
            <span class="right span-margin">by: {{ t.name }}</span>
            <div class="right span-margin">
              <button class="weibo-update">更新微博</button>
              <button class="weibo-delete" data-id="{{ t.id }}">删除</button>
              <a href="#" class="com">评论({{ t.comments_num }})</a>
            </div>
            <div class="update-div hide">
              <!--<form action="/update" method="post" class="update-form">-->
                <input type="hidden" class="weibo_id" value="{{t.id}}"> </input>
                <input id="id-input-newWeibo" name="newWeibo" class="left" placeholder="new weibo">
                <button id="id-button-weibo-edit" type="submit">修改</button>
              <!--</form>-->
            </div>
            <div class="comment-div hide">
               <div class="comment-list">
              {% for c in t.comments %}
                <div class="cell-inner item">
                  <span class="comment">{{ c.comment }}</span>
                  <span class="right span-margin">{{ c.created_time }}</span>
                  <span class="right span-margin">by:{{ c.name }}</span>
                </div>
              {% endfor %}
              </div>
              <div class="comment-form">
                <input class="comment-weibo_id" type="hidden" name="weibo_id" value="{{ t.id }}">
                <input class="comment-content" name="comment" class="left m" placeholder="Comment">
                <button class="comment-add">发表</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  <div class="height-20"></div>
  </div>
  </div>
</body>
</html>
